{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 500px; margin-top:100px;">
        
        <!-- Forgot Password -->
        <div class="card-body">
            <h4 class="card-title mb-4">Forgot Password</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}

                <!-- Email -->
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Send Password Reset Link </button>
                </div>

            </form>
        </div>
    </div>

    <!-- Login/Register buttons -->
    <p class="text-center mt-4">Remember your password? <a href="{% url 'login' %}">Sign in</a></p>
    <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
    <br><br>
</section>

{% endblock %}