option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ecommerce_course.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    PATH: "/usr/local/bin/pg_config:$PATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "ecommerce_course.wsgi:application"