option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ecommerce_course.settings"
    PYTHONPATH: "/venv/bin/python"
    PATH: "/usr/local/bin/pg_config:$PATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "ecommerce_course.wsgi:application"

container_commands:
  01_superuser:
    command: "source ~/dav_repos/ecommerce-django/eb-venv/bin/activate && python3 manage.py createsuperuser --username admin --email admin@admin.com --password admin"
    leader_only: true