option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ecommerce_course.settings"
    PYTHONPATH: "/venv/bin/python"
    PATH: "/Users/dsilveira/Library/Python/3.8/lib/python/site-packages:$PATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "ecommerce_course.wsgi:application"

container_commands:
  01_makemigrations:
    command: "source /venv/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source venv/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
