option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "django-insecure-6lsm7+d8@f#nsv^ax722#x(9&68iks#42@48^%sv-s@narc=wv"
    DEBUG: "True"
    EMAIL_HOST: "smtp.gmail.com"
    EMAIL_HOST_USER: "daviewave@gmail.com"
    EMAIL_HOST_PASSWORD: "nuqvzsnvwybstvsb"
    EMAIL_PORT: "587"
    EMAIL_USE_TLS: "True"