container_commands:
  01_makemigrations:
    command: "python3 manage.py makemigrations --noinput"
    leader_only: true
  01_migrate:
    command: "python3 manage.py migrate --noinput"
    leader_only: true
  01_superuser:
    command: "python3 manage.py create_super_user"
    leader_only: true
  03_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
    leader_only: true