container_commands:
  01_makemigrations:
    command: "source /venv/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
 03_loaddata:
    command: "source /venv/*/bin/activate && python3 manage.py loaddata prods_and_varies.json"
    leader_only: true